# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [7]:
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }

vendas_df = pd.DataFrame(venda)
vendas_df

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Visualização dos Dados
    - print
    - display

In [ ]:
# Mostra as informações cruas
print(vendas_df)

# Mostra as informações com layout melhorado
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

[10, 20, 30, 40, 50]

### Importando arquivos e bases de dados

In [12]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [17]:
display(vendas_df.head())
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

### Pegar 1 coluna (e os pd.Series)

In [25]:
produtos = vendas_df['Produto'] # Não é um dataframe quando pega uma coluna, e sim uma Série do pandas (pd.Series)
display(produtos)

prod_and_id = vendas_df[['Produto', 'ID Loja']]
display(prod_and_id)

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [48]:
# Uma linha
display(vendas_df.loc[1])

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

In [49]:
# Mais de uma linha
display(vendas_df.loc[1:5])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [50]:
# Pegar linhas que correspondem a uma condição - 1
display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [51]:
# Pegar linhas que correspondem a uma condição - 2
display(vendas_df.loc[vendas_df['Valor Final'] < 35])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
27,22,2019-01-02,Parque Dom Pedro Shopping,Meia,1,30,30
1094,726,2019-01-05,Shopping Iguatemi Fortaleza,Meia,1,30,30
2077,1378,2019-01-09,Shopping Center Leste Aricanduva,Meia,1,30,30
2465,1621,2019-01-10,Iguatemi Campinas,Meia,1,30,30
2492,1640,2019-01-10,Shopping Morumbi,Meia,1,30,30
...,...,...,...,...,...,...,...
92859,64287,2019-11-27,Norte Shopping,Meia,1,30,30
92879,64302,2019-11-27,Shopping Iguatemi Fortaleza,Meia,1,30,30
92943,64353,2019-11-27,Shopping Barra,Meia,1,30,30
93109,64468,2019-11-28,Iguatemi Campinas,Meia,1,30,30
93804,64945,2019-11-30,Shopping Barra,Meia,1,30,30

In [52]:
# Condição com especificação das colunas
vendas_norte_shop_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
display(vendas_norte_shop_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [58]:
# Condição com especificação das colunas
vendas_norte_shop_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
display(vendas_norte_shop_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [59]:
# Pegar um valor específico
print(vendas_df.loc[1, ['Produto']])

Produto    Camiseta
Name: 1, dtype: object

### Adicionar 1 coluna

In [62]:
# A partir de uma colune existente
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [ ]:
# Criar coluna com um valor padrão - funciona mas não é a maneira correta
vendas_df['Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [64]:
# Criar coluna com um valor padrão - Maneira correta
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [67]:
vendas_dez_df = pd.read_excel('Vendas - Dez.xlsx')
display(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [ ]:
# Concatenar dois dataframes e pegar o resultado mesclado em um dataframe
vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

>Se atentar aos valores da coluna Comissão e Impostos. Como foram criadas durante o processo, seus valores são NaN. Para isso, pode-se adicionar as colunas no excel, ou >executar um processamento dos dados destas 2 colunas para definir um valor.

### Excluir linhas e colunas

In [74]:
# No caso da coluna à ser removida, o eixo é 1 - Removendo coluna Imposto
vendas_df = vendas_df.drop('Imposto', axis=1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [75]:
# No caso da linha à ser removida, o eixo é 0 - Removendo linha 0
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [76]:
# Deletar linhas e colunas completamente vazias

# Deleta todas as linhas vazias - Por padrão as linhas são removidas
vendas_df = vendas_df.dropna(how='all')
# OU
vendas_df = vendas_df.dropna(how='all', axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [77]:
# Deleta todas as colunas vazias definindo axis=1
vendas_df = vendas_df.dropna(how='all', axis=1)

display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [78]:
# Deletar linhas que possuem pelo menos 1 valor vazio
vendas_df = vendas_df.dropna()
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [ ]:
vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

In [81]:
# Preencher valores da coluna que possui valor vazio pela méda dos valores de comissão
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

In [82]:
vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [84]:
# Outra maneira de preencher valores de colunas com valores vazios - Preencher valores baseado no último valor preenchido acima
vendas_df['Comissão'] = vendas_df['Comissão'].ffill()
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

### Calcular Indicadores
    - Groupby
    - Value Counts

In [ ]:
# Value Counts
transacoes_por_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_por_loja)

ID Loja
Shopping Vila Velha                 4533
Palladium Shopping Curitiba         4511
Rio Mar Recife                      4465
Norte Shopping                      4434
Iguatemi Campinas                   4423
Rio Mar Shopping Fortaleza          4412
Bourbon Shopping SP                 4402
Shopping SP Market                  4352
Salvador Shopping                   4332
Ribeirão Shopping                   4325
Shopping Ibirapuera                 4324
Shopping Center Leste Aricanduva    4323
Center Shopping Uberlândia          4313
Shopping Iguatemi Fortaleza         4311
Shopping Eldorado                   4306
Passei das Águas Shopping           4289
Novo Shopping Ribeirão Preto        4288
Shopping União de Osasco            4279
Shopping Center Interlagos          4275
Shopping Morumbi                    4266
Iguatemi Esplanada                  4237
Shopping Barra                      4222
Parque Dom Pedro Shopping           4192
Shopping Recife                     4177
Shopping Midway Mall                4096
Name: count, dtype: int64

In [ ]:
# Group By - Mas com todas as colunas somadas
total_valor_vendas_produtos = vendas_df.groupby('Produto').sum(numeric_only=True)
display(total_valor_vendas_produtos)

,Código Venda,Quantidade,Valor Unitário,Valor Final,Comissão
Produto,,,,,
Bermuda,33703249,1938,133800,290700,15137.693241
Bermuda Estampa,31319037,1836,143819,310284,15688.029980
Bermuda Linho,36919369,2155,190905,420225,20987.415894
Bermuda Liso,30984704,1875,134078,294375,14675.848349
Bermuda Listrado,33032568,1923,147189,313449,15932.997937
...,...,...,...,...,...
Tênis Estampa,33056164,1913,229376,489728,23609.634263
Tênis Linho,33345205,1951,266952,573594,27587.306915
Tênis Liso,34133497,1912,237006,508592,24513.979567
Tênis Listrado,32167051,1935,233442,506970,24787.529980
Tênis Xadrez,33398906,1889,233877,489251,23750.211611

In [ ]:
# Group By - Mas com apenas as colunas produtos e valor final - Soma total
total_valor_vendas_produtos = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(total_valor_vendas_produtos)

                  Valor Final
Produto
Bermuda                290700
Bermuda Estampa        310284
Bermuda Linho          420225
Bermuda Liso           294375
Bermuda Listrado       313449
...                       ...
Tênis Estampa          489728
Tênis Linho            573594
Tênis Liso             508592
Tênis Listrado         506970
Tênis Xadrez           489251

[120 rows x 1 columns]

In [93]:
# Group By - Mas com apenas as colunas produtos e valor final - Média
total_valor_vendas_produtos = vendas_df[['Produto', 'Valor Final']].groupby('Produto').mean()
display(total_valor_vendas_produtos)

                  Valor Final
Produto
Bermuda            325.896861
Bermuda Estampa    364.611046
Bermuda Linho      429.239019
Bermuda Liso       344.701405
Bermuda Listrado   347.119601
...                       ...
Tênis Estampa      546.571429
Tênis Linho        631.711454
Tênis Liso         570.810325
Tênis Listrado     568.989899
Tênis Xadrez       541.806202

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [94]:
gerentes_df = pd.read_excel('Gerentes.xlsx')
display(gerentes_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [ ]:
# Adicionar uma coluna gerente para vendas_df, executando merge com condicional para atrelar o gerente baseado no ID da Loja dos 2 dataframes
# O pandas consegue automaticamente fazer o merge e realizar a condição, já que as colunas possuem o mesmo nome, o Pandas já faz a correlação automaticamente
vendas_df = pd.merge(vendas_df, gerentes_df)

In [96]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
2,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,Joana
3,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,Joana
4,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000,Maria
...,...,...,...,...,...,...,...,...,...
108082,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163,Andressa
108083,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163,Andressa
108084,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163,Andressa
108085,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163,Fábio
108086,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163,Fábio